/************************ 浏览量 ***********************/

#dashboard-widgets-wrap div#slim_p1_01.postbox {
    border: 1px solid #9db36a;
    border-radius: 5px;
}
#dashboard-widgets-wrap #slim_p1_01 span.toggle-indicator {
    color: #fff;
}
#dashboard-widgets-wrap #slim_p1_01 h2.hndle {
    color: #f1f1f1;
    border-radius: 3px 3px 0px 0px;
    background: #9db36a;
}

/*********************** 活动日志 *********************/

#dashboard-widgets-wrap div#slim_p7_02.postbox {
    border: 1px solid #9785c6;
    border-radius: 5px;
}
#dashboard-widgets-wrap #slim_p7_02 span.toggle-indicator {
    color: #fff;
}
#dashboard-widgets-wrap #slim_p7_02 h2.hndle {
    color: #f1f1f1;
    border-radius: 3px 3px 0px 0px;
    background: #9785c6;
}
[id^=slim_] .header.is-known-user, .little-color-box.is-known-user {
    background: rgba(151, 133, 198, 0.1);
}

/************************ seo文章概述 ***********************/

#dashboard-widgets-wrap div#wpseo-dashboard-overview.postbox {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}
#dashboard-widgets-wrap #wpseo-dashboard-overview span.toggle-indicator {
    color: #191a1c;
}
#dashboard-widgets-wrap #wpseo-dashboard-overview h2.hndle {
    color: #191a1c;
    border-radius: 3px 3px 0px 0px;
    background: #c4c4c4;
}

/************************ 热门下载 ***********************/

#dashboard-widgets-wrap div#dlm_popular_downloads.postbox {}
#dashboard-widgets-wrap #dlm_popular_downloads span.toggle-indicator {
    color: #191a1c;
}
#dashboard-widgets-wrap #dlm_popular_downloads h2.hndle {
    color: #191a1c;
}

/************************ 受众概览 ***********************/

#dashboard-widgets-wrap div#slim_p2_02.postbox {
    border: 1px solid #f0ad4e;
    border-radius: 5px;
}
#dashboard-widgets-wrap #slim_p2_02 span.toggle-indicator {
    color: #fff;
}
#dashboard-widgets-wrap #slim_p2_02 h2.hndle {
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    background: #f0ad4e;
}
#dashboard-widgets-wrap #slim_p2_02 p.slimstat-tooltip-trigger {
    color: #666;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    padding: 10px 20px;
}

/************************ 概览 ***********************/

#dashboard-widgets-wrap div#slim_p1_03.postbox {
    border: 1px solid #484848;
    border-radius: 5px;
}
#dashboard-widgets-wrap #slim_p1_03 span.toggle-indicator {
    color: #fff;
}
#dashboard-widgets-wrap #slim_p1_03 h2.hndle {
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    background: #484848;
}
#dashboard-widgets-wrap #slim_p1_03 p.slimstat-tooltip-trigger {
    color: #666;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 10px 18px;
    font-size: 15px;
    float: left;
    width: calc(50% - 40px);
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
	background: #f1f1f1;
	color: #33383c;
	padding: 14px;
}
#adminmenu .current div.wp-menu-image:before, #adminmenu .wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
    color: #33383c;
}
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
	background: #f1f1f1;
	color: #33383c;
}
#adminmenu li.menu-top {
	padding: 14px;
}